/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/07/2019, 02:41:34 PM
    Author     : Storkolm
*/

.jfx-text-field, .jfx-password-field {
    -fx-prompt-text-fill: #4fc3ad;
    -fx-text-fill: #155c6b;
}

.tab-pane .tab:selected{
    -fx-focus-traversable: false;
}

.jfx-tab-pane .tab-header-background { 
    -fx-background-color: #0ea18b;
}

AnchorPane{
    -fx-background-color: #036368;
}
.tab:selected {
    -fx-background-color: #0a878d ;
}

.button{
    -fx-background-color: #0ea18b;
}

