/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/07/2019, 05:25:20 PM
    Author     : Julian
*/
.button {
    -fx-cursor: hand;
    -fx-background-color: #006895;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-radius: 20;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #315175;
}

GridPane{
    -fx-background-color: #315175;
}

AnchorPane{
    -fx-background-color: #00A2E8;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-radius: 20;
}

BorderPane{
    -fx-background-color: #315175;
}

.jfx-text-field {
    -fx-text-fill: white;
}

.menu-bar, menu-item{
    -fx-background-color: #00A2E8;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-radius: 20;
}

.menu-bar .label{
    -fx-text-fill: white;
    -fx-font-size: 13pt;
}

.menu-bar:hover {
    -fx-background-color: #00A2E8;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-radius: 20;
}



